.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-img {
  width: 100%;
}

.flex-text {
}

@media (max-width: 500px) {
  .flex {
    flex-direction: column;
  }
}
